<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProfile name="prod">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${LOKI}/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>app=user-service,host=${HOSTNAME},level=%level</pattern>
                </label>
                <message>
                    <pattern>l=%level h=${HOSTNAME} c=%logger{20} t=%thread | %msg %ex</pattern>
                </message>
                <sortByTime>true</sortByTime>
            </format>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/home/another/Project/developering/shop-service/devops/logs/user-service/user-service.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/home/another/Project/developering/shop-service/devops/logs/user-service/user-service-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
            </encoder>
            <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
                <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                    <marker>APP_CALL</marker>
                    <marker>AUDIT</marker>
                    <marker>ERROR</marker>
                    <marker>NOTIFY</marker>
                    <marker>INFRA_ERROR</marker>
                </evaluator>
            </filter>
        </appender>ResponseStatus

        <appender name="APP_CALL" class="ch.qos.logback.core.FileAppender">
            <file>/home/another/Project/developering/shop-service/devops/logs/user-service/user-service-app-call.log</file>

            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level | %logger{36} | ip=%X{ip} | %msg%n</pattern>
            </encoder>

            <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
                <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                    <marker>APP_CALL</marker>
                </evaluator>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <appender name="ERROR" class="ch.qos.logback.core.FileAppender">
            <file>/home/another/Project/developering/shop-service/devops/logs/user-service/user-service-error.log</file>

            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level | %logger{36} | ip=%X{ip} | %msg%n</pattern>
            </encoder>

            <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
                <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                    <marker>ERROR</marker>
                </evaluator>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <appender name="AUDIT" class="ch.qos.logback.core.FileAppender">
            <file>/home/another/Project/developering/shop-service/devops/logs/user-service/user-service-audit.log</file>

            <encoder>
                <pattern><pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level | %logger{36} | ip=%X{ip} | %msg%n</pattern></pattern>
            </encoder>

            <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
                <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                    <marker>AUDIT</marker>
                </evaluator>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <appender name="NOTIFY" class="ch.qos.logback.core.FileAppender">
            <file>/home/another/Project/developering/shop-service/devops/logs/user-service/user-service-notify.log</file>

            <encoder>
                <pattern><pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level | %logger{36} | ip=%X{ip} | %msg%n</pattern></pattern>
            </encoder>

            <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
                <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                    <marker>NOTIFY</marker>
                </evaluator>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <appender name="INFRA_ERROR" class="ch.qos.logback.core.FileAppender">
            <file>/home/another/Project/developering/shop-service/devops/logs/user-service/user-service-infra-error.log</file>

            <encoder>
                <pattern><pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level | %logger{36} | ip=%X{ip} | %msg%n</pattern></pattern>
            </encoder>

            <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
                <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                    <marker>INFRA_ERROR</marker>
                </evaluator>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="APP_CALL"/>
            <appender-ref ref="AUDIT"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="NOTIFY"/>
            <appender-ref ref="INFRA_ERROR"/>
        </root>
    </springProfile>

    <springProfile name="integration">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
    </springProfile>
</configuration>